header {

    color: blue;
    background-color: teal;
}




body {

    background-color: bisque;
    color: aqua;
    margin: 80px;
}


footer {

    color: antiquewhite;




}